
<h1>About Us</h1>
<p>Information about us</p>
<p>Login to check capabilities of each user</p>
<p>admin password A1b2c#d0</p>
<p>employer password A1b2c#d0</p>
<p>employee password A1b2c#d0</p>

