<div id="main" role="main" class="container">
<div class="jumbotron">

<h2>About Us</h2>
<p>Information about us</p>
<p>Login to check capabilities of each user</p>
<p>admin password A1b2c#d0</p>
<p>employer password A1b2c#d0</p>
<p>employee password A1b2c#d0</p>

</div><!-- end-jumbotron -->
</div><!-- end-container -->
