<!DOCTYPE html>
<html lang="en">
{% include 'header_content.html' %}
<script>
function formCancel() {
//alert('form cancel');
document.location = "{{ http_referer }}"
}
</script>
<div class="container">
<h1>Add {{ user_type }}</h1>
<form name='user' action="{{ user_add }}" method="post">
    <table>
	<tr><td><lable>Name:</label><td><input type="text" name="name" value="" /></tr>
    <tr><td><lable>Address:</label><td><input type="text" name="address" value="" /></tr>
    <tr><td><lable>Email:</label><td><input type="text" name="email" value="" /></tr>
	<tr><td><lable>Phone:</label><td><input type="text" name="telephone" value="" /></tr>
    <tr><td><lable>Employee ID:</label><td><input type="text" name="employee_ID" value="" ></tr>
	<tr><td><lable>Role:</label><td>
	 <select type="text" name="role" />
	 {% for role in roles %}
	 <option value="{{ role.value|e }}" {{ role.selected|e }}>{{ role.name|e }}</option>
	 {% endfor %}
	 </select>
	 </tr>
    <tr><td><lable>Organisation ID:</label><td><input type="text" name="organisation_ID" value="{{ last_organisation_ID }}" {{ readonly_organisation_ID }}/></tr>
    <tr><td><lable>Birthdate:</label><td><input type="text" name="birthdate" value="" /></tr>
    <tr><td><lable>Probation:</label><td><input type="checkbox" name="probation" value="true" /></tr>
    <tr><td><lable>Password:</label><td><input type="password" name="password" value="" /></tr>
	<tr><td  nowrap="nowrap"><input type="submit" /><td><input type="reset" value="Cancel" onclick="return formCancel()"></td></tr>
	</table>
</form>
</div><!-- end-container -->
<script src="/js/validate-form.js"></script>
{% include 'footer_content.html' %}
</body>
</html>
