<script>
function formCancel() {
//alert('form cancel');
}
</script>
<div id="main" role="main" class="container">
<div class="jumbotron">

{% include 'common/form_user.html.twig' %}

</div><!-- end-jumbotron -->
</div><!-- end-container -->

<script src="/js/validate-form.js"></script>
