<!DOCTYPE html>
<html lang="en">

{% include 'header_content.html' %}

<style>
.hidden { display:none }
</style>
<h1>Organisations</h1>
<h2>User:{{ last_username|e }}</h2>
<table>
    {% for organisation in organisations %}
        <tr>
		<td><a href="/organisation/show/{{ organisation.id|e }}">{{ organisation.name|e }}</a>&nbsp;
		<td>
			<a class="{{ hide_edit_organisation|e }}" href="/organisation/edit/{{ organisation.id|e }}">Edit</a>
			<a class="{{ hide_delete_organisation|e }}" href="/organisation/delete/{{ organisation.id|e }}" onclick="return confirm('Are you sure to delete organisation with id {{ organisation.id|e }}')">Delete</a>
    {% endfor %}
</table>
<br/><a href='/organisation/add' class="{{ hide_add_organisation|e }}">Add Organisation</a>&nbsp;	
<br/><a href='/users'>Users</a>
<br/><br/><a href="{{ path('admin_logout') }}">Logout</a>

{% include 'footer_content.html' %}

</body>
</html>