<h1>Show {{ type_user }} details:</h1>
<h3>Current User: {{ last_username|e }}</h3>
<table>
<tr><td><lable>Name:</label><td><input type="text" name="name" value="{{ name }}" disabled/></tr>
<tr><td><lable>Address:</label><td><input type="text" name="address" value="{{ address }}" disabled/></tr>
<tr><td><lable>Email:</label><td><input type="text" name="email" value="{{ email }}" disabled/></tr>
<tr><td><lable>Phone:</label><td><input type="text" name="telephone" value="" disabled/></tr>
<tr><td><lable>Employee ID:</label><td><input type="text" name="employee_ID" value="{{ employee_ID }}" {{ employee_ID_disabled }}></tr>
<tr><td><lable>Role:</label><td><input type="text" name="role" value="{{ role }}" {{ role_disabled }}/></tr>
<tr><td><lable>Organisation ID:</label><td><input type="text" name="organisation_ID" value="{{ organisation_ID }}" {{ organisation_ID_disabled }} /></tr>
<tr><td><lable>Birthdate:</label><td><input type="text" name="birthdate" value="{{ birthdate }}" disabled/></tr>
<tr><td><lable>Probation:</label><td><input type="checkbox" name="probation" value="{{ probation }}" {{ probation_disabled }}/></tr>
<tr><td><lable>Password:</label><td><input type="password" name="password" value="{{ password }}" disabled/></tr>
</table>
<br><a href='/organisations'>Organisations</a>&nbsp;<a href='/users'>Users</a>
<br/><br/><a href="{{ path('admin_logout') }}">Logout</a>
