<h1>Show Organisation</h1>
<h4>Current User: {{ last_username|e }}</h4>
<br>
<h2>{{ organisation.name|e }}</h2>
<p>{{ organisation.address }}</p><br>
<h2>Employees:</h2>
{% include 'users.html' %}
<br><br>
<a class="{{ hide_add_employer|e }}" href="{{ add_employer|e }}">Add Employer</a><br>
<a class="{{ hide_add_employee|e }}" href="{{ add_employee|e }}">Add Employee</a><br>
<br><a href='/organisations'>Organisations</a>&nbsp;<a href='/users'>Users</a>
<br/><br/><a href="{{ path('admin_logout') }}">Logout</a>
