<div id="main" role="main" class="container">
<div class="jumbotron">
<h2>Users</h2>

{% include 'users.html.twig' %}
{% set active = 'user' %}

<br/>
<a class="{{ hide_add_user }}" href="{{uribase}}/add">Add {{ user_type }}</a>
<br/>
<a href="/organisation">Organisations</a>
<br/><br/><a href="{{ path('admin_logout') }}">Logout</a>
<br/>
</div><!-- end-jumbotron -->
</div><!-- end-container -->
