<h1>Welcome to your new Silex Application!</h1>
<div class='container'>
<a href='about'>About</a><br/>
<a href='user'>User</a><br/>
<a href='user/add'>User Add</a><br/>
<a href='user/edit/1'>User Edit</a><br/>
<a href='user/show/1'>User Show</a><br/>
<a href='user/delete/1'>User Delete</a><br/>
</div><!-- end-container -->